//<МИКСИНЫ>=============================================================================================
@mixin anim($time, $delay) {
	-webkit-transition: all $time ease $delay;
	-moz-transition: all $time ease $delay;
	-ms-transition: all $time ease $delay;
	-o-transition: all $time ease $delay;
	transition: all $time ease $delay;
}
@mixin anim_cibic($time, $delay) {
	-webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
	-moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
	-ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
	-o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
}
@mixin rotate($deg) {
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-webkit-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}
@mixin scale($num) {
	-moz-transform: scale($num);
	-ms-transform: scale($num);
	-webkit-transform: scale($num);
	-o-transform: scale($num);
	transform: scale($num);
}
@mixin skew($num) {
	-moz-transform: skewX($num);
	-ms-transform: skewX($num);
	-webkit-transform: skewX($num);
	-o-transform: skewX($num);
	transform: skewX($num);
}
@mixin cnt($h) {
	display: flex;
	flex-direction: column;
	height: $h;
	text-align: center;
	align-items: stretch;
	justify-content: center;
}
@mixin tr($x, $y, $z) {
	transform: translate3d($x, $y, $z);
}
@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-size: 0;
}
@mixin flexboxinline() {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
}
@mixin flexorder($val) {
	-webkit-box-ordinal-group: $val;
	-moz-box-ordinal-group: $val;
	-ms-flex-order: $val;
	-webkit-order: $val;
	order: $val;
}
//<ШРИФТЫ>=======================================================================================================
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700&display=swap");

//<ПЕРЕМЕННЫЕ>===================================================================================================
$minwidth: 320px;
$mw: 1100;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
$fontfamily: "Lato";
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===================================================================================
@import "_nullstyle";

//<SCSS ОБЩЕЕ>===================================================================================================
$fz1: 60px;
$fz2: 20px;
$color_1: blue;
$color_2: chartreuse;

%tplborder {
	border-bottom: 2px double rgb(223, 18, 18);
}

//@extend %tplborder;

@mixin fontz($f, $c) {
	font-size: $f;
	color: $c;
}
//@include fontz(16px, green);

//<ОБОЛОЧКА>======================================================================================================
.wrapper {
	font-family: $fontfamily;
	width: 100%;
	min-height: 100%;
	overflow: auto;
	@include flexbox();
	flex-direction: column;
}
//<ОСНОВНАЯ СЕТКА>================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================
//@import "popup.scss"
@import "_forms";

//<ОСНОВНОЙ БЛОК>====================================================================================================
.mainblock {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include flexbox();
	flex-direction: column;

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include flexbox();
		justify-content: center;
		z-index: 2;
	}

	&__logo {
		img {
			max-width: 100%;
		}
	}

	&__text {
		color: #fff;
		position: relative;
		padding: 0px 0px 45px 0px;
		margin: 30px 0px;
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 6.562rem;
			height: 0.125rem;
			@include tr(-50%, 0, 0);
			background: #fff;
		}
	}

	&__title {
		font-size: 2.125rem;
		line-height: 1.25;
		font-weight: 700;
		letter-spacing: 0.339rem;
		text-transform: uppercase;
		@media screen and (max-width: $md3+px), screen and (max-height: 600px) {
			font-size: 1.562rem;
			line-height: 1.25;
		}
	}

	&__subtitle {
		font-size: 1.625rem;
		line-height: 1.528;
		letter-spacing: 0.259rem;
	}

	&__footer {
		@include flexboxinline();
		flex-direction: column;
		align-items: center;
	}

	&__arrow {
		display: block;
		position: relative;
		margin: 76px 0px 0px 0px;
		animation: arrow 2s infinite ease alternate;
		@media (max-width: $md3+px) {
			margin: 25px 0px 0px 0px;
		}
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 10px;
			height: 2px;
			background: #fff;
			@include rotate(45deg);
			margin: 0px 0px 0px -9px;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 10px;
			height: 2px;
			background: #fff;
			margin: 0px 0px 0px -3px;
			@include rotate(-45deg);
		}
	}
	@keyframes arrow {
		0% {
			top: 0;
		}

		100% {
			top: 20px;
		}
	}
	&__bg {
		flex: 1 0 100%;
		height: 100%;
	}
}
.mainblock__content .container {
	text-align: center;
	padding: 50px 0px;
	@include flexbox();
	flex-direction: column;
	justify-content: space-between;
	overflow: auto;
	@media screen and (max-width: $md3+px), screen and (max-height: 600px) {
		padding: 30px 0px;
	}
}
.menu {
	padding: 20px 0px;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: #f2f2f2;
	}

	&__list {
		li {
			margin: 0px 47px 0px 0px;
			&:last-child {
				margin: 0;
			}
			@media (max-width: $md3+px) {
				margin: 0px 30px 0px 0px;
			}
			@media (max-width: $md4+px) {
				flex: 1 0 50%;
				margin: 0;
				padding: 0px 0px 25px 0px;
				&:nth-child(3),
				&:nth-child(4) {
					padding: 0;
				}
			}
		}
		@include flexbox();
		justify-content: center;
		align-items: center;
		@media (max-width: $md4+px) {
			flex-wrap: wrap;
			text-align: center;
		}
	}

	&__link {
		font-size: 0.937rem;
		text-transform: uppercase;
		color: #3c3c3c;
		font-weight: 700;
		@include anim(0.3s, 0s);
		&:hover {
			color: #c9c1a7;
		}
		&_active {
			color: #c9c1a7;
		}
	}
}
.content {
	background: #fff;
	z-index: 50;
	position: relative;
}
.about {
	padding: 92px 0px 60px 0px;
	@media (max-width: $md2+px) {
		padding: 50px 0px;
	}
	@media (max-width: $md3+px) {
		padding: 30px 0px;
	}
	&__body {
		margin: 70px 0px 0px 0px;
		@media (max-width: $md2+px) {
			margin: 40px 0px 0px 0px;
		}
		@media (max-width: $md3+px) {
			margin: 25px 0px 0px 0px;
		}
	}
	&__item {
		max-width: 270px;
		@media (max-width: $md3+px) {
			max-width: none;
		}
	}
	&__row {
		@include flexbox();
		justify-content: center;
		margin: 0px -15px;
		text-align: center;
		@media (max-width: $md2+px) {
			margin: 0px -10px;
		}
		@media (max-width: $md3+px) {
			display: block;
		}
	}
	&__column {
		flex: 1 0 33.333%;
		padding: 0px 15px 30px 15px;
		@media (max-width: $md2+px) {
			padding: 0px 10px 30px 10px;
		}
		@media (max-width: $md3+px) {
			&:last-child {
				padding: 0px 15px;
			}
		}
	}

	&__icon {
		@include flexboxinline();
		justify-content: center;
		align-items: center;
		border: 1px solid #f0f0f0;
		border-radius: 50%;
		width: 92px;
		height: 92px;
		&_r {
			img {
				position: relative;
				left: 6px;
			}
		}
	}

	&__title {
		font-size: 1.375rem;
		color: #000;
		text-transform: uppercase;
		margin: 41px 0px 33px 0px;
		@media (max-width: $md3+px) {
			margin: 20px 0px 15px 0px;
		}
	}

	&__text {
		font-size: 0.875rem;
		color: #868585;
		line-height: 1.857;
		font-weight: 300;
	}
}
.header-block {
	text-align: center;
	&__title {
		position: relative;
		font-size: 2.125rem;
		font-weight: 700;
		letter-spacing: 0.559rem;
		text-transform: uppercase;
		padding: 0px 0px 30px 0px;
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 81px;
			height: 1px;
			background: #000;
			@include tr(-50%, 0, 0);
		}
	}

	&__subtitle {
		font-size: 0.875rem;
		color: #868585;
		line-height: 1.857;
		font-weight: 300;
		padding: 35px 0px 0px 0px;
		max-width: 700px;
		margin: 0 auto;
	}
}
.portfolio {
	text-align: center;
	background: #f3f3f3;
	padding: 105px 0px 60px 0px;
	@media (max-width: $md2+px) {
		padding: 50px 0px 60px 0px;
	}
	@media (max-width: $md3+px) {
		padding: 30px 0px 30px 0px;
	}
	&__header-block {
		margin: 0px 0px 50px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px;
		}
	}
	&__row {
		@include flexbox();
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 0px -15px;
		padding: 0px 0px 50px 0px;
		@media (max-width: $md2+px) {
			margin: 0px -10px;
		}
		@media (max-width: $md3+px) {
			padding: 0px 0px 20px 0px;
		}
	}

	&__column {
		flex: 0 1 50%;
		padding: 10px 15px;
		img {
			max-width: 100%;
		}
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
		}
		@media (max-width: $md2+px) {
			padding: 10px 10px;
		}
	}
}
.filter {
	margin: 0px 0px 126px 0px;
	@media (max-width: $md2+px) {
		margin: 0px 0px 50px 0px;
	}
	@media (max-width: $md3+px) {
		margin: 0px 0px 20px 0px;
	}
	&__list {
		@include flexbox();
		justify-content: center;
		align-items: center;
	}

	&__item {
		font-size: 0.937rem;
		text-transform: uppercase;
		font-weight: 700;
		color: #3c3c3c;
		margin: 0px 46px 0px 0px;
		cursor: pointer;
		&:last-child {
			margin: 0;
		}
		@media (max-width: $md3+px) {
			margin: 0px 25px 0px 0px;
		}
		&.active {
			color: #ada074;
		}
	}
}
.partners {
	background: url("../img/BG/BG2.jpg") center / cover no-repeat;
	padding: 100px 0px 70px 0px;
	text-align: center;
	@media (max-width: $md2+px) {
		padding: 80px 0px 60px 0px;
	}
	@media (max-width: $md3+px) {
		padding: 40px 0px 30px 0px;
	}
	&__title {
		font-size: 1.875rem;
		color: #fff;
		font-weight: 300;
		margin: 0px 0px 90px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 50px 0px;
		}
		@media (max-width: $md4+px) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__row {
		@include flexbox();
		justify-content: center;
		align-items: center;
		text-align: center;
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
	}

	&__column {
		padding: 0px 106px 0px 0px;
		&:last-child {
			padding: 0;
		}
		@media (max-width: $md3+px) {
			flex: 0 1 50%;
			padding: 0px 0px 20px 0px;
			&:nth-child(3),
			&:nth-child(4) {
				padding: 0;
			}
		}
	}
}
.contacts {
	padding: 180px 0px 60px 0px;
	@media (max-width: $md3+px) {
		padding: 60px 0px 30px 0px;
	}
	&__header-block {
		margin: 0px 0px 120px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 40px 0px;
		}
	}

	&__body {
		@include flexbox();
		margin: 0px -15px;
		max-width: 720px;
		margin: 0 auto;
		@media (max-width: $md3+px) {
			display: block;
			max-width: none;
		}
	}

	&__column {
		flex: 0 1 50%;
		padding: 0px 15px;
	}

	&__form {
		text-align: right;
	}

	&__content {
		font-size: 0.875rem;
		max-width: 260px;
		@media (max-width: $md3+px) {
			max-width: none;
		}
	}

	&__text {
		margin: 0px 0px 40px 0px;
		font-weight: 300;
		line-height: 1.857rem;
		@media (max-width: $md3+px) {
			margin: 20px 0px 15px 0px;
		}
	}

	&__name {
		font-weight: 700;
		line-height: 1.857rem;
		margin: 0px 0px 25px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__items {
		@include flexbox();
	}

	&__item {
		@include flexbox();
		justify-content: center;
		align-items: center;
		margin: 0px 12px 15px 0px;
		width: 30px;
		height: 30px;
		border: 1px solid #000;
		border-radius: 50%;
	}

	&__email {
		a {
			color: #000;
			font-weight: 700;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.form-contacts {
	&__row {
		@include flexbox();
		margin: 0px -30px 70px -30px;
		@media (max-width: $md3+px) {
			margin: 0px -15px 30px -15px;
		}
	}
	&__lable {
		font-size: 0.875rem;
		font-weight: 700;
		text-align: left;
		padding: 0px 0px 0px 30px;
		margin: 0px 0px 15px 0px;
		@media (max-width: $md3+px) {
			padding: 0px 0px 0px 15px;
		}
		&_n {
			padding: 0;
		}
	}
	&__input {
		width: 100%;
	}
	&__column {
		flex: 0 1 50%;
		padding: 0px 30px;
		@media (max-width: $md3+px) {
			padding: 0px 15px;
		}
	}
}
.form__btn {
	margin: 40px 0px 0px 0px;
}
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=============================================================
@import "_footer";
@import "_baguetteBox";
